@font-face {
    font-family:science-gothic;
    src: url(PTSans-Regular.ttf)
}
body{
    margin-left:0px;
    margin-right:0px;
    font-family: 'science-gothic';
    display:flex;
    flex-direction:column;
    
}
.main-navbar{
            display:flex;
            flex-direction:column;
            justify-content: space-between;
            box-shadow: 0px 0.4px 0.1px grey;
            padding-left:40px;
            padding-right:40px;
            border-bottom:0px;
        }
.navbar{
    display:flex;
    flex-direction:row;
    margin-left:-13px;
}
.navbar svg{
vertical-align: middle;
width:50px;
padding-top:30px;
padding-bottom:30px;
padding-left:18px;
height:28px;
line-height:24px;
        }
path{
    width:60px;
    height:24px;
}
.nav-without-homepage-button{
    display:flex;
    justify-content:space-between;
    gap:400px;
}
.navbar .nav-left{
    display:flex;
    flex-direction:row;
    gap:30px;
    padding-left:0px;
}
.navbar .nav-right{
    padding-right:0px;
    display:flex;
    gap:30px;
    flex-direction:row;
    padding:0px;

}
.navbar li a{
    text-decoration: none;
    color:black;
    font-size: 18px;
    font-weight: bold;
}
.navbar li a.more{
   color: rgb(255, 118, 77);

}
.navbar li a.try-live{
    
    color:rgb(0, 0, 255);
}
.navbar li a.login{
    font-size:16px;
}
.navbar li{
    display:inline-block;
    margin:15px;
    margin-left:0px;
    margin-right:0px;
}




.more-on-ableton{
    display:none;
}





.more-on-ableton-dot-com a{
   text-decoration:none;
   color:black;
   font-size:17px; 
}

ul li a.active-page{
    color: rgb(255, 118, 77);
}

.more-on-ableton-dot-com li{
    display:inline-block;
    margin-right:20px; 
    margin-bottom:30px;
}
.more-on-ableton-dot-com ul{
    margin-left:0px;
    padding-left:0px;
}



.more-from-ableton ul{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    padding-left:0px;
}
.more-from-ableton li{
    list-style-type:none;
    width:300px;
    font-size:17px;
    font-weight:normal;
}
.more-from-ableton li p{
    font-weight:bold;
    
}
.more-from-ableton a{
    text-decoration:none;
    color:black;
    font-size:17px; 
}




.line li{
    display:inline-block;
    margin-top:10px;
    margin-right:30px;
    
}
.line li a{
    text-decoration: none;
    font-size: 15px;
    color:black;
    font-weight: bold;
}
.line ul{
    margin-left:0px;
    padding-left:0px;
}


.page-about-header{
    text-align:center;
    margin:0px;
}
.page-about-header img{
    width:1280px;
    display:block;
    position:relative;
    height:650px;
    margin-left:90px;
    margin-right:90px;
    margin-bottom:0px;
    border-bottom:0px;
    padding-bottom:0px;
}
.ableton-name-logo{
    position:absolute;
    margin-left:-220px;
    margin-top:-360px;
}





.body-text{
    display:block;
     width:708px;
    height:207px;
    margin-left:auto;
    margin-right:auto;
    margin-bottom:125px;
    margin-top:0px;
}
.body-text h2{
    font-size:28px;
    font-weight:bold;
    margin-bottom:20px;
    margin-right:-50px;
   margin-top:150px;
}
.body-text p{
    font-size:18px;
    line-height:1.6;
    color: rgb(39, 38, 38);
    margin-bottom:40px;
    margin-right:-50px
}
.body-text a{
    text-decoration:none;
    color:rgb(0, 0, 255);
    font-size:28px;
    font-weight:bold;
}




.page-about-collage .img1-div{
    display:inline-block;
    background-position-x:50%;
    background-position-y:50%;
    background-repeat:no-repeat;
    box-sizing: border-box;;
    background-size:cover;
    vertical-align:middle;
    position:relative;
    height:640px;
    width:640px;
    z-index:1;
    vertical-align:middle;
    right:100px;
    left:30px;
    top:8em;
}    
.page-about-collage .img2-div{
   display:inline-block;
    box-sizing: border-box;
    background-position-x:50%;
    background-position-y:50%;
    background-repeat:no-repeat;
     margin-left:-128px;
    background-size:cover;
    position:relative;
    height:640px;
    width:640px;
    z-index:1;
    vertical-align:middle;
    left:15em;
    top:7.5em;

}
.page-about-collage-background-img{
    display:block;
    box-sizing: border-box;
    width:895.987px;
    height:895.987px;
    position:absolute;
    background-color:rgb(251, 255, 167);
    right:0px;
    
    
}
.page-about-collage{
    display:inline-block;
    height:895.987px;
}



.abl-video-div {
    display:inline-block;
    margin-left:450px;
}

caption{
    display:inline-block;
    top:50px;
    bottom:50px;
    margin-top: 200px;
    margin-bottom:200px;
    padding-bottom:200px;
}
